<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\APP_DATA\database.mdf; Integrated Security=True; ProviderName=System.Data.SqlClient" />
    </connectionStrings>
</configuration>